version: '3.9'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fivebirds-backend
    ports:
      - "5050:5005"
    environment:
      ConnectionStrings__DefaultConnection: "Server=fivebirds.mysql.database.azure.com;Database=fivebirds;User=fivebirds;Password=namchuchimnon123@;SslMode=Preferred;"
      Jwt__Key: "3NhGRUhx8DitUTf/oTuCUUZlu47wNJf2vCfHvMq9FPxAFhM0HPN/sxdUrokfyXXmLKG9JKzP8HSV4KNlXhU6kw=="
      Jwt__Issuer: "ATMBank"
      Jwt__Audience: "ATMBankUsers"
      Jwt__ExpireMinutes: 240
      AppSettings__BaseUrl: "http://localhost:5005"
      Cloudinary__CloudName: "dstnlb7nv"
      Cloudinary__ApiKey: "116274567536232"
      Cloudinary__ApiSecret: "96Lhvx9c_hFrKl_I7xxSwpadUrk"
